# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo

# Package artifacts
*.tgz

# Local env files
.env*
!.env.example

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Tool caches
.npm/
.eslintcache
